footer {
  bottom: 0;
  width: 100vw;
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
}

.footer-content {
  text-align: center;
}

.navbar-text {
  display: block;
  margin: 0 auto;
}

